
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @ViewBag.Mensaje

        @ViewBag.Now
    </div>
</body>
</html>
